body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
.imagem{
  
    background-image: url("img/qin.jpg");
    filter:blur(8px); -webkit-filter: blur(8px);
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.bloco{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid #f1f1f1;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.cabecalho{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form{
    position: relative;
    text-align: center;
}
.botao {
    text-align: center;
}
#demo1{
    border-radius: 10px;
}
#demo2{
    display: none;
}
#demo3{
    display: none;
}
#demo4{
    display: none;
}
    